<div class="field">
  <label for="{{id}}" class="label">{{label}}</label>
  <div class="control">
    <div class="ba-tag-editor textarea" (click)="enterFocus(tagInput)" [class.is-primary]="focused">
      <div class="field is-grouped is-grouped-multiline">
        <div *ngFor="let tag of tags" class="control">
          <div class="tags has-addons">
            <span class="tag is-info">{{tag}}</span>
            <a class="tag is-delete" (click)="onDelete(tag)"></a>
          </div>
        </div>
        <div class="control">
          <input id="{{id}}" #tagInput [(ngModel)]="input" (blur)="leaveFocus()" (keydown.space)="spacePressed($event)" (keydown.backspace)="backspacePressed()">
        </div>
      </div>
    </div>
  </div>
</div>
